node_modules
dist
out
.DS_Store
*.log*

/resources/mysql.zip
/node_modules

/resources/Java/backup
/resources/MySQL/backup
/resources/Java/zulu8.78.0.19-ca-jdk8.0.412-win_x64
/resources/MySQL/mysql-8.0.37-winx64
/resources/Java/zulu8.78.0.19-ca-jdk8.0.412-win_x64.zip
/resources/MySQL/mysql-8.0.37-winx64.zip
/src/main/lib/tests.ts
/resources/MySQL/MySQL config/Doctors Data.zip